In [2]:
import pandas as pd

1. Haced una exploración inicial del dataframe:
- ¿Cuál es el número de filas y columnas?

In [3]:
df = pd.read_csv('data/historico_tickets_limpio_pandas.csv', index_col = 0)
df.head(1)

,id_ticket,fecha,id_empleado,id_agente,categoría,tipo,severidad,prioridad,días_resolución,satisfacción,semestre,año,mes
0,GDDENR-5042564453,2016-07-13,1735,4,Acceso/Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0,5,2º semestre,2016,Julio

In [4]:
print(f'En nuestro df tenemos {df.shape[0]} filas y {df.shape[1]} columnas.')

En nuestro df tenemos 97386 filas y 13 columnas.

- ¿Cuál es el porcentaje de valores nulos en cada columna? Presenta los resultados en un dataframe, donde las columnas sean el nombre de las variables y el porcentaje de nulos.

In [5]:
pd.DataFrame(df.isnull().sum() * 100 / df.shape[0]).T

,id_ticket,fecha,id_empleado,id_agente,categoría,tipo,severidad,prioridad,días_resolución,satisfacción,semestre,año,mes
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

- ¿Qué tipos de datos hay en cada columna?

In [6]:
df.dtypes

id_ticket          object
fecha              object
id_empleado         int64
id_agente           int64
categoría          object
tipo               object
severidad          object
prioridad          object
días_resolución     int64
satisfacción        int64
semestre           object
año                 int64
mes                object
dtype: object

- Extraed la información general del dataframe.

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 97386 entries, 0 to 29087
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id_ticket        97386 non-null  object
 1   fecha            97386 non-null  object
 2   id_empleado      97386 non-null  int64
 3   id_agente        97386 non-null  int64
 4   categoría        97386 non-null  object
 5   tipo             97386 non-null  object
 6   severidad        97386 non-null  object
 7   prioridad        97386 non-null  object
 8   días_resolución  97386 non-null  int64
 9   satisfacción     97386 non-null  int64
 10  semestre         97386 non-null  object
 11  año              97386 non-null  int64
 12  mes              97386 non-null  object
dtypes: int64(5), object(8)
memory usage: 10.4+ MB

2. Cread dos dataframes nuevos, uno que incluya solo las variables categóricas y otro que incluya solo las variables numéricas.

In [8]:
df_cat = df.select_dtypes(include = 'object')
df_cat.head(1)

,id_ticket,fecha,categoría,tipo,severidad,prioridad,semestre,mes
0,GDDENR-5042564453,2016-07-13,Acceso/Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,2º semestre,Julio

In [9]:
df_num = df.select_dtypes(include = 'int64')
df_num.head(1)

   id_empleado  id_agente  días_resolución  satisfacción   año
0         1735          4                0             5  2016

- ¿Cuáles son los principales estádisticos de los dataframes?

In [10]:
df_cat.describe().T

           count unique                top   freq
id_ticket  97386  97386  GDDENR-5042564453      1
fecha      97386   1827         2020-02-20    105
categoría  97386      4            Sistema  38961
tipo       97386      2          Solicitud  73138
severidad  97386      5         2 - Normal  88555
prioridad  97386      4           3 - Alta  35511
semestre   97386      2        2º semestre  49876
mes        97386     12            Octubre   8487

Observamos que se producen más incidencias en el 2º semestre, especialmente en el mes de octubre. Quizás pueda estar relacionado con la vuelta al trabajo después de las vacaciones.
La mayoría de tickets tiene asiganda una prioridad de 3 (alta), pero con una severidad 2 (normal).
La mayoría de tickets son de tipo solicitud.
La mayoría de tickets están dentro de la categoría Sistema.

In [11]:
df_num.describe().T

,count,mean,std,min,25%,50%,75%,max
id_empleado,97386.0,999.160639,577.407222,1.0,500.0,999.0,1499.0,2000.0
id_agente,97386.0,25.468856,14.449455,1.0,13.0,26.0,38.0,50.0
días_resolución,97386.0,4.552749,4.365432,0.0,0.0,4.0,7.0,21.0
satisfacción,97386.0,4.100990,1.257093,1.0,4.0,5.0,5.0,5.0
año,97386.0,2018.399164,1.393095,2016.0,2017.0,2019.0,2020.0,2020.0

Extraed los valores únicos.

In [12]:
columnas_cat = ['categoría', 'tipo', 'severidad', 'prioridad']

for col in df_cat[columnas_cat].columns:
    print(f"En la columna {col} tenemos los siguientes valores unicos")
    print(pd.DataFrame(df_cat[col].value_counts()))
    print("\n", "------------------------------------------------------------", "\n")

En la columna categoría tenemos los siguientes valores unicos
              count
categoría
Sistema       38961
Acceso/Login  29165
Software      19543
Hardware       9717

 ------------------------------------------------------------

En la columna tipo tenemos los siguientes valores unicos
           count
tipo
Solicitud  73138
Problema   24248

 ------------------------------------------------------------

En la columna severidad tenemos los siguientes valores unicos
                    count
severidad
2 - Normal          88555
3 - Mayor            4831
1 - Menor            2254
4 - Crítico          1390
0 - Sin Clasificar    356

 ------------------------------------------------------------

En la columna prioridad tenemos los siguientes valores unicos
                 count
prioridad
3 - Alta         35511
0 - Sin Asignar  29376
1 - Baja         16670
2 - Media        15829

 ------------------------------------------------------------

**BONUS** presenta los resultados en un dataframe. Os deberá quedar algo como esto:

In [13]:
diccionario = {}

In [14]:
for col in df_cat[columnas_cat].columns:
    diccionario[col] = list(df_cat[col].unique())

In [15]:
serie_1 = []
serie_2 = []

for col in df_cat[columnas_cat].columns:
    serie_1.append(col)
    serie_2.append(list(df_cat[col].unique()))

In [25]:
serie_1

0    categoría
1         tipo
2    severidad
3    prioridad
dtype: object

In [16]:
serie_2

[['Acceso/Login', 'Sistema', 'Software', 'Hardware'],
 ['Problema', 'Solicitud'],
 ['0 - Sin Clasificar', '2 - Normal', '4 - Crítico', '3 - Mayor', '1 - Menor'],
 ['0 - Sin Asignar', '3 - Alta', '2 - Media', '1 - Baja']]

In [17]:
data = {"variable" : serie_1,
        "n_unicos" : serie_2}


dataframe = pd.DataFrame(data)

In [24]:
dataframe.head(1)

    variable                                     n_unicos
0  categoría  [Acceso/Login, Sistema, Software, Hardware]

- ¿Hay alguna columna que no tenga sentido su tipo de datos?

    - Hemos observado que la columna realmente es categórica pero nos interesa mantenerla como númerica para poder sacar estadísticos.
    - La variable fecha la pasaremos a formato datetime, y año la pasaremos a formato object.

- ¿Hay alguna columna que no tenga sentido su nombre?

    - No, el nombre está correctamente reflejado en todas ellas.

- ¿Hay alguna columna que no tenga sentido su contenido?

    - Puede ser redundante tener una columna con fecha y por separado otras columnas con año y mes.

- ¿Hay alguna columna que tenga demasiadas categorías o valores que nos pueda hacer difícil trabajar con ella?

    - No.