In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('data/historico_tickets_limpio_pandas.csv', index_col = 0)
df.head(1)

,id_ticket,fecha,id_empleado,id_agente,categoría,tipo,severidad,prioridad,días_resolución,satisfacción,semestre,año,mes
0,GDDENR-5042564453,2016-07-13,1735,4,Acceso/Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0,5,2º semestre,2016,Julio

In [6]:
print(f'En nuestro df tenemos {df.shape[0]} filas y {df.shape[1]} columnas.')

En nuestro df tenemos 97386 filas y 13 columnas.

In [14]:
pd.DataFrame(df.isnull().sum() * 100 / df.shape[0]).T

,id_ticket,fecha,id_empleado,id_agente,categoría,tipo,severidad,prioridad,días_resolución,satisfacción,semestre,año,mes
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [15]:
df.dtypes

id_ticket          object
fecha              object
id_empleado         int64
id_agente           int64
categoría          object
tipo               object
severidad          object
prioridad          object
días_resolución     int64
satisfacción        int64
semestre           object
año                 int64
mes                object
dtype: object

Hemos observado que la columna realmente es categórica pero nos interesa mantenerla como númerica para poder sacar estadísticos.
La variable fecha la pasaremos a formato datetime, y año la pasaremos a formato object.

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 97386 entries, 0 to 29087
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id_ticket        97386 non-null  object
 1   fecha            97386 non-null  object
 2   id_empleado      97386 non-null  int64
 3   id_agente        97386 non-null  int64
 4   categoría        97386 non-null  object
 5   tipo             97386 non-null  object
 6   severidad        97386 non-null  object
 7   prioridad        97386 non-null  object
 8   días_resolución  97386 non-null  int64
 9   satisfacción     97386 non-null  int64
 10  semestre         97386 non-null  object
 11  año              97386 non-null  int64
 12  mes              97386 non-null  object
dtypes: int64(5), object(8)
memory usage: 10.4+ MB

In [18]:
df_cat = df.select_dtypes(include = 'object')
df_cat.head(1)

,id_ticket,fecha,categoría,tipo,severidad,prioridad,semestre,mes
0,GDDENR-5042564453,2016-07-13,Acceso/Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,2º semestre,Julio

In [19]:
df_num = df.select_dtypes(include = 'int64')
df_num.head(1)

   id_empleado  id_agente  días_resolución  satisfacción   año
0         1735          4                0             5  2016

In [21]:
df_cat.describe().T

           count unique                top   freq
id_ticket  97386  97386  GDDENR-5042564453      1
fecha      97386   1827         2020-02-20    105
categoría  97386      4            Sistema  38961
tipo       97386      2          Solicitud  73138
severidad  97386      5         2 - Normal  88555
prioridad  97386      4           3 - Alta  35511
semestre   97386      2        2º semestre  49876
mes        97386     12            Octubre   8487

Observamos que se producen más incidencias en el 2º semestre, especialmente en el mes de octubre. Quizás pueda estar relacionado con la vuelta al trabajo después de las vacaciones.
La mayoría de tickets tiene asiganda una prioridad de 3 (alta), pero con una severidad 2 (normal).
La mayoría de tickets son de tipo solicitud.
La mayoría de tickets están dentro de la categoría Sistema.

In [30]:
columnas_cat = ['categoría', 'tipo', 'severidad', 'prioridad']

for col in df_cat[columnas_cat].columns:
    print(f"En la columna {col} tenemos los siguientes valores unicos")
    print(pd.DataFrame(df_cat[col].value_counts()))
    print("\n", "------------------------------------------------------------", "\n")

En la columna categoría tenemos los siguientes valores unicos
              count
categoría
Sistema       38961
Acceso/Login  29165
Software      19543
Hardware       9717

 ------------------------------------------------------------

En la columna tipo tenemos los siguientes valores unicos
           count
tipo
Solicitud  73138
Problema   24248

 ------------------------------------------------------------

En la columna severidad tenemos los siguientes valores unicos
                    count
severidad
2 - Normal          88555
3 - Mayor            4831
1 - Menor            2254
4 - Crítico          1390
0 - Sin Clasificar    356

 ------------------------------------------------------------

En la columna prioridad tenemos los siguientes valores unicos
                 count
prioridad
3 - Alta         35511
0 - Sin Asignar  29376
1 - Baja         16670
2 - Media        15829

 ------------------------------------------------------------

In [53]:
diccionario = {}

In [54]:
for col in df_cat[columnas_cat].columns:
    diccionario[col] = list(df_cat[col].unique())

In [60]:
diccionario

{'categoría': ['Acceso/Login', 'Sistema', 'Software', 'Hardware'],
 'tipo': ['Problema', 'Solicitud'],
 'severidad': ['0 - Sin Clasificar',
  '2 - Normal',
  '4 - Crítico',
  '3 - Mayor',
  '1 - Menor'],
 'prioridad': ['0 - Sin Asignar', '3 - Alta', '2 - Media', '1 - Baja']}

In [63]:
df_nuevo = pd.DataFrame(diccionario)

ValueError: All arrays must be of the same length

In [22]:
df_num.describe().T

,count,mean,std,min,25%,50%,75%,max
id_empleado,97386.0,999.160639,577.407222,1.0,500.0,999.0,1499.0,2000.0
id_agente,97386.0,25.468856,14.449455,1.0,13.0,26.0,38.0,50.0
días_resolución,97386.0,4.552749,4.365432,0.0,0.0,4.0,7.0,21.0
satisfacción,97386.0,4.100990,1.257093,1.0,4.0,5.0,5.0,5.0
año,97386.0,2018.399164,1.393095,2016.0,2017.0,2019.0,2020.0,2020.0