# Limpieza 2

In [26]:
import pandas as pd
import numpy as np

In [27]:
df = pd.read_csv("data/bank_clean.csv", index_col = 0)
df.head(1)

,age,job,marital,education,default,housing,loan,contact,duration,campaign,pdays,previous,poutcome,"emp,var,rate","cons,price,idx","cons,conf,idx",euribor3m,"nr,employed",y,month_day_week
0,56,housemaid,married,basic.4y,0.0,0.0,0.0,telephone,261,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,"5191,0",no,"['may', 'mon']"

In [28]:
df.dtypes

age                 int64
job                object
marital            object
education          object
default           float64
housing           float64
loan              float64
contact            object
duration            int64
campaign            int64
pdays               int64
previous            int64
poutcome           object
emp,var,rate      float64
cons,price,idx    float64
cons,conf,idx     float64
euribor3m         float64
nr,employed        object
y                  object
month_day_week     object
dtype: object

#### En este ejercicio nos queda por limpiar algunas columnas del conjunto de datos.

1. Columnas `loan`, `housing` y `default`: estas columnas contienen valores únicos de 0 y 1. Esto puede parecer poco intuitivo a la hora de la extracción de conclusiones y en las visualizaciones. El objetivo de este ejercicio es que cambies los valores númericos por "Si" y "No". A que corresponde cada uno de los valores lo tenéis en el pair de Limpieza I.

In [29]:
conv = {0 : "No",
        1 : "Sí"}

columnas = ["loan", "housing", "default"]

for col in columnas:
        df[col] = df[col].map(conv, na_action = "ignore")


df.head(1)

,age,job,marital,education,default,housing,loan,contact,duration,campaign,pdays,previous,poutcome,"emp,var,rate","cons,price,idx","cons,conf,idx",euribor3m,"nr,employed",y,month_day_week
0,56,housemaid,married,basic.4y,No,No,No,telephone,261,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,"5191,0",no,"['may', 'mon']"

2. Para la columna de `education`, si nos fijamos en sus valores únicos veremos que tenemos puntos. El objetivo de este ejercicio es que quitéis los puntos de esos valores y los reemplacéis por espacios.

In [30]:
def cambio(elemento):
    try:
        return elemento.replace(".", " ")
    except:
        return np.nan


df["education"] = df["education"].apply(cambio)

df["education"].unique()

array(['basic 4y', 'high school', 'basic 6y', 'basic 9y',
       'professional course', nan, 'university degree', 'illiterate'],
      dtype=object)

3. Para la columna `job`, hay un valor único que esta abreviado (admin.), cambiad la abreviatura por el nombre completo.

In [31]:
df["job"].unique()

array(['housemaid', 'services', 'admin.', 'blue-collar', 'technician',
       'retired', 'management', 'unemployed', 'self-employed', nan,
       'entrepreneur', 'student'], dtype=object)

In [32]:
def admin(elemento):
    try:
        if elemento == "admin.":
            return "administration"
        else:
            return elemento
    except:
        return np.nan


df["job"] = df["job"].apply(admin)

In [33]:
df["job"].unique()

array(['housemaid', 'services', 'administration', 'blue-collar',
       'technician', 'retired', 'management', 'unemployed',
       'self-employed', nan, 'entrepreneur', 'student'], dtype=object)

4. La columna `month_day_week` tiene una lista que contiene información muy diferente. El objetivo de este ejercicio es separar esta columna en dos nuevas, donde tengamos los meses en una columna y los días de la semana en otra.

In [34]:
df.sample(1)

,age,job,marital,education,default,housing,loan,contact,duration,campaign,pdays,previous,poutcome,"emp,var,rate","cons,price,idx","cons,conf,idx",euribor3m,"nr,employed",y,month_day_week
38310,37,blue-collar,married,basic 6y,No,No,No,cellular,244,1,999,0,nonexistent,-3.4,92.431,-26.9,0.74,"5017,5",no,"['oct', 'thu']"

In [39]:
df["month_day_week"] = df["month_day_week"].apply(lambda elemento : elemento.replace("[", "").replace("'", "").replace("]", ""))

In [40]:
df[["month", "day"]] = df["month_day_week"].str.split(",", expand = True)

In [41]:
df.head(1)

,age,job,marital,education,default,housing,loan,contact,duration,campaign,...,poutcome,"emp,var,rate","cons,price,idx","cons,conf,idx",euribor3m,"nr,employed",y,month_day_week,month,day
0,56,housemaid,married,basic 4y,No,No,No,telephone,261,1,...,nonexistent,1.1,93.994,-36.4,4.857,"5191,0",no,"may, mon",may,mon

5. Guarda el csv con las columnas limpias para seguir trabajando con este dataframe limpio.

In [42]:
df.to_csv("data/bank_clean2.csv")