# Limpieza 2

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("data/bank_clean.csv", index_col = 0)
df.head(1)

,age,job,marital,education,default,housing,loan,contact,duration,campaign,pdays,previous,poutcome,"emp,var,rate","cons,price,idx","cons,conf,idx",euribor3m,"nr,employed",y,month_day_week
0,56,housemaid,married,basic.4y,0.0,0.0,0.0,telephone,261,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,"5191,0",no,"['may', 'mon']"

#### En este ejercicio nos queda por limpiar algunas columnas del conjunto de datos.

1. Columnas `loan`, `housing` y `default`: estas columnas contienen valores únicos de 0 y 1. Esto puede parecer poco intuitivo a la hora de la extracción de conclusiones y en las visualizaciones. El objetivo de este ejercicio es que cambies los valores númericos por "Si" y "No". A que corresponde cada uno de los valores lo tenéis en el pair de Limpieza I.

2. Para la columna de `education`, si nos fijamos en sus valores únicos veremos que tenemos puntos. El objetivo de este ejercicio es que quitéis los puntos de esos valores y los reemplacéis por espacios.

3. Para la columna `job`, hay un valor único que esta abreviado (admin.), cambiad la abreviatura por el nombre completo.

4. La columna `month_day_week` tiene una lista que contiene información muy diferente. El objetivo de este ejercicio es separar esta columna en dos nuevas, donde tengamos los meses en una columna y los días de la semana en otra.

5. Guarda el csv con las columnas limpias para seguir trabajando con este dataframe limpio.