### Limpieza_4
___

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sidetable

In [ ]:
df = pd.read_csv("data/bank_clean3.csv", index_col = 0)
pd.options.display.max_columns = None
df.head(1)

1. Lo primero que tenemos que evaluar es en que columnas tenemos nulos y que cantidad tenemos en cada una.

- ¿Hay alguna columna con una gran cantidad de nulos? En caso de que sea así deberemos eliminarla.

2. Es el momento de eliminar los nulos:

- Reemplazad los valores nulos de las columnas age y campaign por la media, redondeada a dos decimales.

- Reemplazad los valores nulos de la columna emp.var.rate y cons.price.idx por la mediana de cada una de estas columnas, redondeada a dos decimales.

- En relación a las columnas de education, default, housing y loan al tratarse de columnas de tipo categórica, reemplazad los valores nulos por una nueva categória que se llame unknown.

- Reemplazad los valores nulos de las columna job y marital por el valor más frecuente (la moda).

- Nos quedan la columna y. ¿Qué tipo de variable es? Decidid cual sería la mejor gestión de nulos para esta columna.

3. Guardad el csv.