### Limpieza_3
___

Ya hemos limpiado todas las columnas que parecía que no tenían el tipo de dato que queríamos o que tenían demasiada información. Por lo tanto, en este ejercicio tendremos que limpiar los outliers.

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("data/bank_clean2.csv", index_col = 0)
df.head(1)

,age,job,marital,education,default,housing,loan,contact,duration,campaign,...,poutcome,"emp,var,rate","cons,price,idx","cons,conf,idx",euribor3m,"nr,employed",y,month_day_week,month,day
0,56.0,housemaid,married,NaN,No,No,No,telephone,261,1.0,...,nonexistent,NaN,93.994,-36.4,4.857,"5191,0",no,"may, mon",may,mon

1. ¿Sobre qué columnas podremos eliminar o reemplazar los outliers?

2. Identifica visualmente los outliers

3. Identifica sobre el dataframe las filas que son outliers

4. Reemplaza los outliers por el estadístico más correcto.

5. Guarda el csv con las columnas limpias para seguir trabajando con este dataframe limpio en el siguiente pair programming de limpieza.