# ETL 1

In [2]:
import pandas as pd
import requests

from IPython.core.interactiveshell import InteractiveShell 
InteractiveShell.ast_node_interactivity = "all"

**Usaremos la API de REData la cual nos da mucha información sobre el mercado energético en España. La documentación de la API la encontraréis [aquí](https://www.ree.es/es/apidatos).**

1. Nuestros jefes están especialmente interesados en los datos de generación de las energías renovables y no renovables a nivel nacional. En concreto, nos piden sacar toda la información para las fechas de 1 de Enero del 2011 hasta el 31 de Diciembre del 2022. De toda la información que tenemos de generación queremos la evolucion de renovable y no renovable. Además deberemos incluir una columna nueva identificando si el dato corresponde a energía renovable o no renovable. **NOTA: nos piden que el código debe estar en una función.**

In [17]:



for año in range(2011,2023):

    url = f"https://apidatos.ree.es/es/datos/generacion/evolucion-renovable-no-renovable?start_date={año}-01-01T00:00&end_date={año}-12-31T23:59&time_trunc=day"

    response = requests.get(url)

    response.status_code    

    response.reason

    df = pd.json_normalize(response.json()["included"])

    df.head(10)

    break

200

'OK'

,type,id,groupId,attributes.title,attributes.description,attributes.color,attributes.type,attributes.magnitude,attributes.composite,attributes.last-update,attributes.values
0,Renovable,10299,None,Renovable,"Energía renovable: incluye hidráulica, hidroeó...",#92d050,Renovable,None,False,2019-06-12T15:32:24.000+02:00,"[{'value': 182024.982, 'percentage': 0.2901208..."
1,No renovable,10298,None,No renovable,None,#666666,No renovable,None,False,2019-06-12T15:32:24.000+02:00,"[{'value': 445385.87, 'percentage': 0.70987913..."

In [53]:
def atributos(columna):
    for diccionario in df["columna"][0]:
        for key, value in diccionario,items:
            return value[0], percentage[1], datetime[2]

In [48]:
df["attributes.values"][0][0]

{'value': 182024.982,
 'percentage': 0.29012086963392214,
 'datetime': '2011-01-01T00:00:00.000+01:00'}

In [50]:
    for diccionario in df["attributes.values"][0]:
        for key, value in diccionario,items:
            return value, percentage, datetime

SyntaxError: 'return' outside function (3097178105.py, line 3)

In [57]:
df[["value", "percentage", "datetime"]] = df["attributes.values"].apply(atributos, result_type = "expand")

df.head()

TypeError: atributos() got an unexpected keyword argument 'result_type'

2. Sacaremos la misma información que en el ejericio anterior, pero en este caso por CCAA. Para esto necesitaremos los códigos de cada una de las comunidades autónomas que encontraréis en el siguiente diccionario:

In [ ]:
cod_comunidades = {'Ceuta': 8744,
                    'Melilla': 8745,
                    'Andalucía': 4,
                    'Aragón': 5,
                    'Cantabria': 6,
                    'Castilla - La Mancha': 7,
                    'Castilla y León': 8,
                    'Cataluña': 9,
                    'País Vasco': 10,
                    'Principado de Asturias': 11,
                    'Comunidad de Madrid': 13,
                    'Comunidad Foral de Navarra': 14,
                    'Comunitat Valenciana': 15,
                    'Extremadura': 16,
                    'Galicia': 17,
                    'Illes Balears': 8743,
                    'Canarias': 8742,
                    'Región de Murcia': 21,
                    'La Rioja': 20}

3. Guardad los csv ya que mañana los seguiremos usando en los siguientes pairs.

In [ ]:
df.to_csv("data/")