# ETL 2

In [57]:
import pandas as pd
from datetime import datetime, timedelta

In [58]:
df = pd.read_csv("data/poblacion_comunidades.csv", index_col = 0)
df.head(1)

  Comunidad  indice Comunidades_y_Ciudades_Autónomas   Año   Total
0     Ceuta    8744                            Ceuta  2022  83.117

In [59]:
df_energias = pd.read_csv("data/energias_años.csv", index_col = 0)

In [60]:
df_ccaa = pd.read_csv("data/energias_comunidades.csv", index_col = 0)

1. El csv donde tenemos la información censal de cada Comunidad Autónoma tiene algunas columnas que no son redundantes para nuestro análisis, en este csv tendremos que:

- Eliminar la columna de Comunidades_y_Ciudades_Autónomas

In [61]:
df.drop("Comunidades_y_Ciudades_Autónomas", axis = 1, inplace = True)
df.head(1)

  Comunidad  indice   Año   Total
0     Ceuta    8744  2022  83.117

2. En el csv con la información de generación de energías renovables y no renovables a nivel nacional deberéis:

    - Para las columnas value y percentage, redondear los decimales de los valores a 2.

In [62]:
df_energias.head(1)

,value,percentage,datetime,id,tipo_energia,description
0,182024.982,0.290121,2011-01-01T00:00:00.000+01:00,10299,Renovable,"Energía renovable: incluye hidráulica, hidroeó..."

In [63]:
df_energias[["percentage", "value"]] = df_energias[["percentage", "value"]].apply(lambda elemento : elemento.round(2))

In [64]:
df_energias.head()

,value,percentage,datetime,id,tipo_energia,description
0,182024.98,0.29,2011-01-01T00:00:00.000+01:00,10299,Renovable,"Energía renovable: incluye hidráulica, hidroeó..."
1,265705.89,0.39,2011-01-02T00:00:00.000+01:00,10299,Renovable,"Energía renovable: incluye hidráulica, hidroeó..."
2,249489.57,0.30,2011-01-03T00:00:00.000+01:00,10299,Renovable,"Energía renovable: incluye hidráulica, hidroeó..."
3,270981.71,0.31,2011-01-04T00:00:00.000+01:00,10299,Renovable,"Energía renovable: incluye hidráulica, hidroeó..."
4,379833.02,0.45,2011-01-05T00:00:00.000+01:00,10299,Renovable,"Energía renovable: incluye hidráulica, hidroeó..."

- La columna datetime es de tipo string, pero esto a nosotras no nos interesa. Además, en esta columna tiene tanto la fecha como la hora, pero en realidad la hora no nos esta aportando nada de información, es por esto que:

        - Deberéis crear una columna nueva donde solo tengamos la información de la fecha en formato AÑO / MES / DIA.
        
        - Una vez creada la columna anterior, convertirla a datetime.

In [65]:
df_energias.dtypes

value           float64
percentage      float64
datetime         object
id                int64
tipo_energia     object
description      object
dtype: object

In [66]:
df_energias["fecha"] = df_energias["datetime"].str.split("T", n = 1, expand = True).get(0).astype("datetime64[ns]")
df_energias.head(1)

,value,percentage,datetime,id,tipo_energia,description,fecha
0,182024.98,0.29,2011-01-01T00:00:00.000+01:00,10299,Renovable,"Energía renovable: incluye hidráulica, hidroeó...",2011-01-01

In [67]:
#df_energias["fecha"] = pd.to_datetime(df_energias["fecha"])


df_energias.dtypes

value                  float64
percentage             float64
datetime                object
id                       int64
tipo_energia            object
description             object
fecha           datetime64[ns]
dtype: object

3. En el csv con la información de generación de energías renovables y no renovables a nivel de comunidad autónoma deberéis aplicar los mismos cambios que aplicamos en el ejercicio anterior.

In [68]:
df_ccaa.head(1)

,value,percentage,datetime,id,tipo_energia,description,location
0,202972.893,1.0,2011-01-01T00:00:00.000+01:00,10298,No renovable,NaN,Ceuta

In [70]:
df_ccaa[["percentage", "value"]] = df_ccaa[["percentage", "value"]].apply(lambda elemento : elemento.round(2))

df_ccaa["fecha"] = df_ccaa["datetime"].str.split("T", n = 1, expand = True).get(0).astype("datetime64[ns]")

In [75]:
df_ccaa.head(2)

,value,percentage,datetime,id,tipo_energia,description,location,fecha
0,202972.89,1.00,2011-01-01T00:00:00.000+01:00,10298,No renovable,NaN,Ceuta,2011-01-01
0,3589.08,0.02,2011-01-01T00:00:00.000+01:00,10299,Renovable,"Energía renovable: incluye hidráulica, hidroeó...",Melilla,2011-01-01

In [72]:
df_ccaa.dtypes

value                  float64
percentage             float64
datetime                object
id                       int64
tipo_energia            object
description             object
location                object
fecha           datetime64[ns]
dtype: object

4. Guardar los resultados obtenidos en pickle que usaremos en próximos ejercicios de pair programming. Cada fichero debe ir en un pickle

In [77]:
df_energias.to_pickle("data/energias_años.pkl")

df_ccaa.to_pickle("data/energias_comunidades.pkl")